html, body, canavs {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);  
}

.canvasStyle {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);  
}